name: Sync OpenAPI Versions

permissions:
  contents: write
  pull-requests: write

on:
  release:
    types: [published, edited]
  workflow_dispatch:

jobs:
  sync:
    uses: SiaFoundation/workflows/.github/workflows/sync-openapi-version.yml@master
    with:
      spec_path: openapi.yml
