name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Setup node
        uses: actions/setup-node@v4
      - name: Checkout
        uses: actions/checkout@v4
      - name: Validate OpenAPI spec
        run: |
          npm install --global swagger-spec-validator
          swagger-spec-validator openapi.yml
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout=30m
  test-sqlite: # Run all tests against SQLite
    needs: analyze
    uses: SiaFoundation/workflows/.github/workflows/go-test.yml@master
    secrets: inherit

  test-mysql: # Run all tests against MySQL
    needs: analyze
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.25", "1.26"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Configure MySQL
        uses: shogo82148/actions-setup-mysql@v1
        with:
          distribution: "mysql"
          mysql-version: "9"
          root-password: test
      - name: Test
        uses: SiaFoundation/workflows/.github/actions/go-test@master
        env:
          RENTERD_DB_URI: 127.0.0.1:3306
          RENTERD_DB_USER: root
          RENTERD_DB_PASSWORD: test
        with:
          go-test-args: "-race;-timeout=20m;-tags=netgo"

  success: # Use in branch rulesets to ensure all matrix jobs completed successfully
    needs: [test-sqlite, test-mysql]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success!"
