name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest , macos-latest, windows-latest ]
        go-version: [ '1.21', '1.22' ]
    steps:
      - name: Configure Windows
        if: matrix.os == 'windows-latest'
        run: git config --global core.autocrlf false # fixes go lint fmt error
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout=30m
      - name: Jape Analyzer
        uses: SiaFoundation/action-golang-analysis@HEAD
        with:
          analyzers: |
            go.sia.tech/jape.Analyzer@master
          directories: |
            autopilot
            bus bus/client
            worker worker/client
      - name: Configure MySQL
        if: matrix.os == 'ubuntu-latest'
        uses: mirromutth/mysql-action@v1.1
        with:
          host port: 3800
          mysql version: '8'
          mysql root password: test
      - name: Test
        uses: n8maninger/action-golang-test@v1
        with:
          args: "-race;-short"
      - name: Test Stores - MySQL
        if: matrix.os == 'ubuntu-latest'
        uses: n8maninger/action-golang-test@v1
        env:
          RENTERD_DB_URI: 127.0.0.1:3800
          RENTERD_DB_USER: root
          RENTERD_DB_PASSWORD: test
        with:
          package: "./stores"
          args: "-race;-short"
      - name: Test Integration
        uses: n8maninger/action-golang-test@v1
        with:
          package: "./internal/test/e2e/..."
          args: "-failfast;-race;-tags=testing;-timeout=30m"
      - name: Test Integration - MySQL
        if: matrix.os == 'ubuntu-latest'
        uses: n8maninger/action-golang-test@v1
        env:
          RENTERD_DB_URI: 127.0.0.1:3800
          RENTERD_DB_USER: root
          RENTERD_DB_PASSWORD: test
        with:
          package: "./internal/test/e2e/..."
          args: "-failfast;-race;-tags=testing;-timeout=30m"
      - name: Build
        run: go build -o bin/ ./cmd/renterd
